<ion-content>

  <ion-header class="main-header">
    <ion-toolbar>
      <ion-title class="title">
        Edificações
      </ion-title>
      <ion-buttons slot="end">
        <ion-button class="button" (click)="navigateToNewBuilding()">
          Nova Edificação
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-card class="filter-card">
    <ion-grid class="filter-grid">
      <ion-row class="filter-row" class="ion-align-items-end">
        <ion-col size="12" size-lg="4">
          <ion-label class="label">Buscar</ion-label>
          <div class="input-wrapper">
            <ion-input 
              type="text" 
              placeholder="Nome" 
              fill="solid" 
              class="input solid"
              [(ngModel)]="searchName"
              (ionChange)="applyFilters()"
            ></ion-input>
          </div>
        </ion-col>

        <ion-col size="12" size-lg="3">
          <ion-label class="label">Tipo de Edificação</ion-label>
          <ion-select 
            placeholder="Todos os tipos" 
            fill="solid" 
            class="select solid"
            [(ngModel)]="searchBuildingType"
            (ionChange)="applyFilters()"
            >
            @for (option of buildingTypeOptions; track option.value) {
              <ion-select-option [value]="option.value">{{option.label}}</ion-select-option>
            }
          </ion-select>
        </ion-col>

        <ion-col size="12" size-lg="3">
          <ion-label class="label">Ano de Construção</ion-label>
          <ion-input 
            type="number" 
            placeholder="Digite o ano" 
            fill="solid" 
            class="input solid"
            [(ngModel)]="searchConstructionYear"
            (ionChange)="applyFilters()"
          >

          </ion-input>
        </ion-col>

        <ion-col size="12" size-lg="2" class="btn-col">
          <ion-button class="clear" expand="block" (click)="clearFilters()">Limpar Filtros</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  
  <ion-card class="list-card">
    <div class="table-container">
      <ion-grid class="table-grid">
        <ion-row class="table-header">
        <ion-col class="col-name">
          <ion-label
          (click)="sortBy('name')"
          [class.sorted]="isSortedBy('name')"
          class="sortable-header"
          >
            Nome
            <ion-icon src="../../../assets/icons/ordenation-icon.svg"></ion-icon>
          </ion-label>
          
        </ion-col>
        <ion-col class="col-type">
          <ion-label
          (click)="sortBy('buildingType')"
          [class.sorted]="isSortedBy('buildingType')"
          class="sortable-header"
          >
            Tipo de Edificação
            <ion-icon src="../../../assets/icons/ordenation-icon.svg"></ion-icon>
          </ion-label>
          
        </ion-col>

        <ion-col class="col-year">
          <ion-label
          (click)="sortBy('constructionYear')"
          [class.sorted]="isSortedBy('constructionYear')"
          class="sortable-header"
          >
            Ano de Construção
            <ion-icon src="../../../assets/icons/ordenation-icon.svg"></ion-icon>
          </ion-label>        
        </ion-col>

        <ion-col class="col-city">
          <ion-label
          (click)="sortBy('address.city')"
          [class.sorted]="isSortedBy('address.city')"
          class="sortable-header"
          >
            Cidade/UF
            <ion-icon src="../../../assets/icons/ordenation-icon.svg"></ion-icon>
          </ion-label>
          
        </ion-col>
        <ion-col class="col-address">
          <ion-label
          (click)="sortBy('address.street')"
          [class.sorted]="isSortedBy('address.street')"
          class="sortable-header"
          >
            Endereço
            <ion-icon src="../../../assets/icons/ordenation-icon.svg"></ion-icon>
          </ion-label>
          
        </ion-col>
        <ion-col class="col-actions"><ion-label>Ações</ion-label></ion-col>
      </ion-row>
      @if (loading) {
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-spinner name="crescent"></ion-spinner>
          </ion-col>
        </ion-row>
      } @else if (buildings.length === 0) {
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label>Nenhuma edificação encontrada</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      } @else {
        @for (building of buildings; track building.id) {
          <ion-row class="table-row" button="true">
            <ion-col class="col-name">
              <div class="name-cell">
                <div class="name"> {{ building.name }} </div>
                <ion-note class="description"> {{ building.description }} </ion-note>
              </div>
            </ion-col>
            <ion-col class="col-type">
              <ion-badge [color]="getBuildingTypeColor(building.buildingType)">
                {{ displayBuildingType(building.buildingType) }}
              </ion-badge>
            </ion-col>
            <ion-col class="col-year">
              <ion-label>{{ building.constructionYear }}</ion-label>
            </ion-col>
            <ion-col class="col-city">
              <ion-label>{{ building.address?.city || '-' }}/{{ building.address?.state || '-' }}</ion-label>
            </ion-col>
            <ion-col class="col-address">
              <ion-label>{{ building.address?.street || '-' }}, {{ building.address?.number || '-' }} </ion-label>
            </ion-col>

            <ion-col class="col-actions actions">
              <ion-buttons>
                <ion-button fill="clear"
                (click)="onDelete(building)"
                >
                  <ion-icon src="../../../assets/icons/trash-icon.svg"></ion-icon>
                </ion-button>
                <ion-button fill="clear"
                (click)="onEdit(building)"
                >
                  <ion-icon src="../../../assets/icons/pencil-icon.svg"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="onView(building)">
                  <ion-icon src="../../../assets/icons/eye-icon.svg"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-col>
          </ion-row>
        }
      }

      </ion-grid>
    </div>
    <ion-item lines="full" detail="false" class="grid-divider"></ion-item>
    <ion-grid>
      <ion-row class="pagination-bar ion-aling-items-center ion-justify-content-between">
        <ion-col size="12" size-lg="4" class="pagination-info">
          <div class="pagination-content">
            <ion-note>{{showingStart}}-{{showingEnd}} de {{totalElements}} </ion-note>
            <ion-label class="page-size-label">Itens por páginas:</ion-label>
            <ion-select
              interface="popover"
              class="page-size-select"
              [value]="pageSize"
              (ionChange)="onPageSizeChange($event.detail.value)"
            >
              @for (size of pageSizeOptions; track size) {
                <ion-select-option [value]="size">{{size}}</ion-select-option>
              }
            </ion-select>
        </div>
        </ion-col>

        <ion-col size="12" size-lg="4" class="pagination-controls ion-text-end">

          <ion-buttons class="pagination-buttons">
            <ion-button fill="clear" size="small" (click)="goToFirtPage()" [disabled]="currentPage === 0 || loading">
              <ion-icon src="../../../assets/icons/goToFirst-icon.svg"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="goToPreviousPage()" [disabled]="!hasPrevious || loading">
              <ion-icon src="../../../assets/icons/previous-icon.svg"></ion-icon>
            </ion-button>

            @if (pageNumbers.length > 0) {
              @for (p of pageNumbers; track p) {
                <ion-button
                  fill="solid"
                  class="page-number"
                  [color]="p === currentPage ? 'primary' : 'medium'"
                  (click)="goToPage(p)"
                  [disabled]="loading"
                >
                  {{p + 1}}
                </ion-button>
              }
            }

            <ion-button fill="clear" (click)="goToNextPage()" [disabled]="!hasNext || loading">
              <ion-icon src="../../../assets/icons/next-icon.svg"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="goToLastPage()" [disabled]="currentPage === totalPages - 1 || loading">
              <ion-icon src="../../../assets/icons/goToLast-icon.svg"></ion-icon>
            </ion-button>
          </ion-buttons>

        </ion-col>
      </ion-row>


    </ion-grid>
  </ion-card>

</ion-content>